body {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  width: 100%;
  font-size: 1em;
  line-height: 1.5em;
}

header {
  padding: 3%;
  background-color: #3B0855;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: Raleway, sans-serif;
  font-size: 3em;
  line-height: 1em;
}

h2 {
  font-family: Raleway, sans-serif;
  font-size: 1.5em;
  margin: 1.2em 0;
}

p {
  font-size: 1em;
}

nav li{
  display: inline-block;
  font-size: 1em;
  margin: 1.2em;
}

nav li:first-child{
  display: none;
}

.cat {
  width: 100%;
}

.toybox {
  float: right;
  width: 20%;
}

.toy {
  max-width: 100%;
}

.intro {
  padding: 20px;
}

.column {
  width: 30%;
  margin: .5em;
  vertical-align: top;
  display: inline-block;
}

footer {
  background-color: #3B0855;
  padding: 1.2em;
  color: #fff;
  text-align: center;
}

footer p {
  padding-top: .8em;
}


@media screen and (min-width: 1024px) {
    main {
      width: 1000px;
      margin: 0 auto;
    }

}


@media screen and (max-width: 840px) {
  nav li{
    display: none;
  }

  nav li:first-child{
    display: inline-block;  
    font-size: 2em;

  }

  h1 {
    padding-top: .5em;
  }

}

@media screen and (max-width: 500px) {


  .column {
    width: 100%;
    padding: .7em;
    padding-bottom: .7em;
    vertical-align: top;
    box-sizing: border-box;
  }

}

@media screen and (max-width: 450px) {

    body {
      font-size: 1.125em;
    }

    h1 {
      font-size: 2em;
      padding-top: 1em;
    }
}







