h1 {
	color:#005555;
	font-family: Times,Times New Romans;
	font-size: 12px;
}

h1 span {
	text-decoration: underline;
	color: rgb(200,100,0);
	font-size: 6px;
}
.ichi {

}

.ni {

}

.san {

}

.yon {

}